header {
    background: #c1dfff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0 40px;
}

header .logo {
    margin: 25px 50px;
    font-family: "Lucidity Expand";
    font-size: 32px;
    letter-spacing: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 110px;
    padding: 6px;
    margin-top: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transform: translateY(10px);
}

.dropdown-menu a {
    padding: 10px 14px;
    margin: 0;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    transform: translateY(0px);
}

nav a:hover { text-decoration: underline; }

nav a.logo:hover { text-decoration: none; }

header nav .icon { display: none; }

/* ========================================================================= */

@media screen and (max-width: 1380px) { header a { margin: 0 24px; } }

@media screen and (max-width: 1180px) { header a { margin: 0 15px; } }

@media screen and (max-width: 1000px) { header a { margin: 0 10px; } }

@media screen and (max-width: 925px) {
    nav a:not(.logo):not(.icon) {
        display: none;
        width: 100%;
    }

    .dropdown { display: none; }

    header nav .icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .logo {
        position: relative;
        top: 0;
    }
}

@media screen and (max-width: 925px) {
    header.responsive {
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        padding-bottom: 30px;

        position: fixed;
        width: 100%;
        z-index: 100;
        overflow-y: auto;
    }

    header.responsive nav:first-child {
        position: static;
        top: auto;
        margin-top: 90px;
    }

    header.responsive nav a:not(.logo):not(.icon) {
        display: block;
        width: 100%;
        padding: 14px 20px;
    }

    header.responsive .icon {
        position: absolute;
        right: 60px;
        top: 30px;
    }

    header.responsive .logo {
        position: absolute;
        padding: 25px 0;
    }

    header.responsive .dropdown {
        display: block;
        width: 100%;
    }

    header.responsive .dropdown-menu {
        position: relative;
        background-color: #c1dfff;
        box-shadow: none;
        text-indent: 2rem;
        visibility: visible;
        transform: none;
    }
}