body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html, body {
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

.home-img {
    background-image: url("clothesimg.jpeg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    text-align: center;
}

.featured:not(h1) {
    display: flex;
    flex-direction: row;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.product-card img {
    width: 100%;
}

/* ========== LACEDA ========== */












/* ========== MENDOZA ========== */










